@use '../../styles/variables.scss' as *;

.dashboard {
  min-height: 100vh;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $background;
  background-image:
    radial-gradient(
      circle at 0% 20%,
      rgba(30, 144, 255, 0.15),
      transparent 40%
    ),
    radial-gradient(circle at 100% 80%, rgba(0, 128, 0, 0.15), transparent 40%);

  h2 {
    font-weight: $font-weight;
    color: $text-white;
    text-align: left;
    padding-left: 1rem;

    span {
      color: $text-third;
      font-size: 1rem;
      font-weight: $font-weight-normal;
    }
  }

  @media (max-width: 768px) {
    padding: 1rem 0.5rem 6rem 0.5rem;

    h2 {
      font-size: 1.5rem;
      padding-left: 0.5rem;
      br {
        display: block;
      }
    }
  }

  .disabled {
    pointer-events: none;

    &:hover {
      cursor: not-allowed;
    }
  }
}
