@use '../../styles/variables.scss' as *;
.page-not-found {
  background: linear-gradient($third-dark-bg-color, $primary-dark-bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    width: 75%;
    height: 250px;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
      color: $text-main-color;
      font-weight: 600;
    }

    .home-link {
      text-align: center;
      width: 50%;
      height: 50px;
      font-size: 1.25rem;
      padding: 0.75rem 1rem;
      border-radius: 12px;
      text-decoration: none;
      color: $primary-dark-bg-color;
      background: linear-gradient(
        $third-light-bg-color,
        $primary-light-bg-color
      );
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
