@use '../../styles/variables.scss' as *;
.pagination-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h3 {
    color: $text-white;
    background-color: $background-buttons;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1.25rem;
    border-radius: $radius;
  }

  .arrow {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.15rem;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all $transition-speed ease;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 1rem;
    gap: 2rem;

    .arrow {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    h3 {
      font-size: 1.1rem;
      padding: 0.4rem 1.2rem;
    }
  }
}
