@use '../../styles/variables.scss' as *;
.pagination-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h3 {
    color: $text-white;
    background-color: $background-buttons;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1.25rem;
    border-radius: $radius;
  }

  .arrow {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.15rem;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all $transition-speed ease;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
