@use '../src/styles/variables.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  background-color: $background;
  min-height: 100dvh;
}
