@use '../../styles/variables.scss' as *;

.form-component {
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  background-image:
    radial-gradient(
      circle at 0% 20%,
      rgba(30, 144, 255, 0.15),
      transparent 40%
    ),
    radial-gradient(circle at 100% 80%, rgba(0, 128, 0, 0.15), transparent 40%);
  .form {
    background-color: $background-secondary;
    padding: 1rem;
    width: 600px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #27272a;
    align-items: center;

    h2 {
      color: $text-white;
      font-weight: $font-weight;
      text-align: left;
      font-size: 2rem;
      padding-left: 1rem;
    }

    .input-label {
      align-self: center;
      width: 90%;
      position: relative;

      input {
        width: 100%;
        height: 50px;
        background-color: $background;
        border-radius: 16px;
        border: 1px solid #27272a;
        padding-left: 1rem;
        color: $text-white;
        font-size: 1rem;
      }

      .form-textarea {
        width: 100%;
        padding-top: 0.5rem;
        background-color: $background;
        border-radius: 16px;
        border: 1px solid #27272a;
        padding-left: 1rem;
        color: $text-white;
        font-size: 1rem;
        font-family: inherit;
      }

      .visibility-button {
        position: absolute;
        z-index: 10;
        align-self: center;
        right: 2.5%;
        background-color: transparent;
        border-radius: $radius;
        border: none;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        transition: all $transition-speed ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .error-text {
      color: $color-health;
      font-size: $font-size;
      font-weight: $font-weight-normal;
      margin: 0;
    }

    .submit-button {
      height: 50px;
      font-size: 1.25rem;
      color: $text-white;
      background-color: $background-third;
      border-radius: 16px;
      width: 50%;
      border: 1px solid #27272a;
      transition: all $transition-speed ease;
      align-self: center;

      &:hover {
        background-color: $hover-light;
        cursor: pointer;
      }
    }
  }
}
